<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/page/head.ejs %>
  </head>

  <body>

    <div class="main-parent">
      <div class="main">
        <h1> Federico. <h1>
        <h3> work in progr. <h3>
      </div>
    </div>

  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
