<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/page/head.ejs %>
  </head>

  <body>

    <div class="main-parent">
      <div class="main">
        <h1> Federico. <h1>
        <h3> work in progr. <h3>
      </div>
    </div>

    <div class="my-links">
      <ul style="list-style: none;">
        <li><a href="https://github.com/FedericoKCL"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/federicocapaldo
"><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i>
  </a></li>
        <li><a href="http://stackoverflow.com/users/3245486/federicocapaldo"><i class="fa fa-3x fa-stack-overflow" aria-hidden="true"></i>
  </a></li>
      </ul>
    </div>
  <% include partials/page/footer.ejs %>
  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
