body {
  background-color: #9ae0e0;
}


.header {
  background-image: url("../images/background.png");
  background-size: contain;
  padding: 60px;
  height: 250px;
  text-align: center;
}

.header a { 
  text-decoration: none;
}

.top a{
  color: #511f1f;
}

.navigator {
  margin-top: 10px;
}

.navigator ul{
  list-style: none;
  padding-left: 0px;
}

.navigator li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  font-size: 1em;
}

.navigator a {
  color: #775f5f;
}


.container {
  padding-top: 20px;
  width: 85%;
}


@media (min-width: 482px) {
  .navigator li {
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
  }

  .navigator {
    margin-top: 50px;
  }

  .container {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}

