body {
  background-color: #9ae0e0;
  font-family: sans-serif;
}


.header {
  background-image: url("../images/background.png");
  background-size: contain;
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0px;
  text-align: center;
}

.header a { 
  text-decoration: none;
}

.top a{
  color: #511f1f;
}

.navigator {
  margin-top: 10px;
}

.navigator ul{
  list-style: none;
  padding-left: 0px;
}

.navigator li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  font-size: 1em;
}

.navigator a {
  color: #775f5f;
}


.container {
  padding-top: 20px;
  margin: auto;
  width: 85%;
}

.container h3 { 
  text-align: center; 
}


@media (min-width: 548px) {
  .navigator li {
    margin: 5px;
    padding: 5px;
    font-size: 1.5em;
  }

  .navigator {
    margin-top: 50px;
  }

  .container {
    width: 50%;
  }

  .container h3 {
    text-align: left;
  }
}

