body {
  background-color: #9ae0e0;
  font-family: sans-serif;
}


.header {
  background-color: #f5eed1;
}

.header a {
  text-decoration: none;
}

.top {
  margin-left: 10px;
  display: inline-block;
}

.top a{
  color: #511f1f;
}


.navigator {
  margin-right: 10px;
  float: right;
  display: inline-block;
}

.navigator ul{
  list-style: none;
  padding-left: 0px;
}

.navigator li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  font-size: 1em;
}

.navigator a {
  color: #775f5f;
}


.container {
  padding-top: 15px;
  padding-left: 10px;
  margin: auto;
  width: 85%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.container h3 {
  text-align: center;
}


@media (min-width: 548px) {
  .navigator li {
    margin: 5px;
    padding: 7px;
    border: 1px solid #4B0082;
    border-radius: 4px;
  }

  .navigator {

  }

  .container {
    width: 50%;
  }

  .container h3 {
    text-align: left;
  }
}
