<header class="header">

    <div>
    <a href="/" class="logo">Federico Capaldo</a>
    <span>My personal UGLY website. working on front end now.</span>
    </div>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/projects">My Work</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</header>
