<header class="header">
  <div class="top">
    <h1><a href="/">Federico Capaldo</a></h1>
    <p>My personal UGLY website. working on front end now.</p>
  </div>

  <nav class="navigator">
    <ul>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/projects">PROJECTS</a></li>
      <li><a href="/contact">CONTACTS</a></li>
    </ul>
  </nav>
</header>
