<header class="header">
  <h1>Federico Capaldo</h1>
  <p>My personal website where I share ideas and what I do</p>

  <nav class="navigator">
    <ul>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/projects">PROJECTS</a></li>
      <li><a href="/contact">CONTACTS</a></li>
    </ul>
  </nav>
</header>
